.trip-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.left {
  display: flex;
  height: calc(100vh - 100px);
  align-items: center;
  z-index: 1;
}

.right {
  height: 200px;
  width: 200px;
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 20px;
}

.map {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}